parameters:
    level: 1
    paths:
        - packages/ui/src
        - packages/database/src
        - packages/payments/src
        - packages/firebase/src
        - packages/countries/src
        - packages/preferences/src
        - packages/format/src
        - packages/socialauth/src
        - packages/math/src
        - packages/date/src
        - packages/cloudinary/src
        - packages/i18n/src
        - packages/state/src
        - lib/pages
        - lib/backend/src
        - public/index.php
        - public/router.php
