<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="ui">
            <directory>packages/ui/tests</directory>
        </testsuite>
        <testsuite name="database">
            <directory>packages/database/tests</directory>
        </testsuite>
        <testsuite name="maps">
            <directory>packages/maps/tests</directory>
        </testsuite>
        <testsuite name="dialogs">
            <directory>packages/dialogs/tests</directory>
        </testsuite>
        <testsuite name="firebase">
            <directory>packages/firebase/tests</directory>
        </testsuite>
        <testsuite name="device">
            <directory>packages/device/tests</directory>
        </testsuite>
        <testsuite name="payments">
            <directory>packages/payments/tests</directory>
        </testsuite>
        <testsuite name="countries">
            <directory>packages/countries/tests</directory>
        </testsuite>
        <testsuite name="preferences">
            <directory>packages/preferences/tests</directory>
        </testsuite>
        <testsuite name="connectivity">
            <directory>packages/connectivity/tests</directory>
        </testsuite>
        <testsuite name="launcher">
            <directory>packages/launcher/tests</directory>
        </testsuite>
        <testsuite name="diagnostics">
            <directory>packages/diagnostics/tests</directory>
        </testsuite>
        <testsuite name="format">
            <directory>packages/format/tests</directory>
        </testsuite>
        <testsuite name="socialauth">
            <directory>packages/socialauth/tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
