<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="ui">
            <directory>packages/ui/tests</directory>
        </testsuite>
        <testsuite name="database">
            <directory>packages/database/tests</directory>
        </testsuite>
        <testsuite name="firebase">
            <directory>packages/firebase/tests</directory>
        </testsuite>
        <testsuite name="countries">
            <directory>packages/countries/tests</directory>
        </testsuite>
        <testsuite name="preferences">
            <directory>packages/preferences/tests</directory>
        </testsuite>
        <testsuite name="format">
            <directory>packages/format/tests</directory>
        </testsuite>
        <testsuite name="math">
            <directory>packages/math/tests</directory>
        </testsuite>
        <testsuite name="date">
            <directory>packages/date/tests</directory>
        </testsuite>
        <testsuite name="i18n">
            <directory>packages/i18n/tests</directory>
        </testsuite>
        <testsuite name="cloudinary">
            <directory>packages/cloudinary/tests</directory>
        </testsuite>
        <testsuite name="screens">
            <directory>lib/pages/tests</directory>
        </testsuite>
        <testsuite name="state">
            <directory>packages/state/tests</directory>
        </testsuite>
        <testsuite name="analytics">
            <directory>packages/analytics/tests</directory>
        </testsuite>
        <testsuite name="uuid">
            <directory>packages/uuid/tests</directory>
        </testsuite>
        <testsuite name="crypto">
            <directory>packages/crypto/tests</directory>
        </testsuite>
        <testsuite name="mime">
            <directory>packages/mime/tests</directory>
        </testsuite>
        <testsuite name="retry">
            <directory>packages/retry/tests</directory>
        </testsuite>
        <testsuite name="jwt">
            <directory>packages/jwt/tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
